<body>
    {{#with header}}
    <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}} | {{title}}</h1>
        </div>
        <br>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>{{salary}}</em>
        </div>
        <br>
        <div>
            <address>{{address}}</address>
        </div>
        <br>
        <hr>
    </header>
    {{/with}}