{{!-- Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"--}}

<div class="container bg-danger">
    <div class="row">
        <div class="justify-content-md-center mb-3">
            <div class="card bg-warning">
                <img src="{{href}}" class="card-img-top" alt="{{name}}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{category}}</p>
                    <p class="card-text">Price: ${{price}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body bg-warning">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h6 class="text-center">Specifications:</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Processor: {{features.processor.brand}}
                                    {{features.processor.model}}
                                    ({{features.processor.speed}} {{features.processor.cores}}-core,
                                    {{features.processor.cache}}
                                    cache)</li>
                                <li class="list-group-item">Memory: {{features.memory.size}} {{features.memory.type}}
                                    {{features.memory.speed}}</li>
                                <li class="list-group-item">Storage: {{features.storage.size}} {{features.storage.type}}
                                </li>
                                <li class="list-group-item">Display: {{features.display.size}}
                                    {{features.display.technology}}
                                    ({{features.display.resolution}}, {{features.display.color_space}},
                                    {{features.display.brightness}}, {{features.display.refresh_rate}})</li>
                                <li class="list-group-item">Graphics: {{features.graphics.brand}}
                                    {{features.graphics.model}}
                                    ({{features.graphics.memory}})</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h6 class="text-center">Ports:</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Ports:
                                    <ul>
                                        {{#each features.ports}}
                                        <li>{{this.type}} x {{this.count}}
                                            {{#if this.features}}
                                            <ul>
                                                {{#each this.features}}
                                                <li>{{this}}</li>
                                                {{/each}}
                                            </ul>
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h6 class="text-center">Specifications:</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Battery: {{features.battery.type}}
                                    {{features.battery.capacity}}
                                    ({{features.battery.life}})</li>
                                <li class="list-group-item">Weight: {{features.weight}}</li>
                                <li class="list-group-item">Dimensions: {{features.dimensions.height}} x
                                    {{features.dimensions.width}} x {{features.dimensions.depth}}</li>
                                <li class="list-group-item">Operating System: {{features.operating_system}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#each features.accessories}}
                    <div class="col-md-4">
                        <div class="card my-3">
                            <li class="list-group-item text-center"><b>{{this.name}} - ${{this.price}}</b></li>
                            <img src="{{img}}" alt="">
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</div>



{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML--}}