<body>
    <header>
        <div class="d-flex">
            {{#each navigation.links}}
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link{{#if @first}} active{{/if}}{{#if @last}} disabled{{/if}}" aria-current="page"
                        target="_blank" href="{{this.href}}">{{this.text}}</a>
                </li>
            </ul>
            {{/each}}
        </div>
    </header>
    <hr>

    <main>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{#each breadcrumb}}
                <li class="breadcrumb-item {{#if url}}active{{/if}}" {{#if url}}aria-current="page" {{/if}}>
                    {{#if url}}
                    <a href="{{url}}">{{name}}</a>
                    {{else}}
                    {{name}}
                    {{/if}}
                </li>
                {{/each}}
            </ol>
        </nav>
        <div>
            {{> menuSelect}}
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {{#with filterBlock.sellers}}
                            <h6>{{title}}</h6>
                            <ul class="list-unstyled">
                                {{#each list}}
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{value}}"
                                            id="{{value}}">
                                        <label class="form-check-label" for="{{value}}">
                                            {{value}}
                                        </label>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                            <hr>
                            {{/with}}

                            {{#with filterBlock.brands}}
                            <h6>{{title}}</h6>
                            <input type="text" class="form-control" placeholder="{{input.placeholder}}">
                            <br>
                            {{#each options}}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{value}}" id="{{value}}">
                                <label class="form-check-label" for="{{value}}">
                                    {{value}}
                                </label>
                            </div>
                            {{/each}}
                            <hr>
                            {{/with}}

                            {{#with filterBlock.price}}
                            <h6>{{title}}</h6>
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{range.from}}"
                                        aria-label="{{range.from}}">
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control my-2" placeholder="{{range.to}}"
                                        aria-label="{{range.to}}">
                                </div>
                                <div class="input-group">
                                    <button class="btn btn-outline-secondary" type="button">{{button.text}}</button>
                                </div>
                            </div>
                            <hr>
                            {{/with}}


                            {{#each filterBlock.filterList}}
                            <h6>{{title}}</h6>
                            <ul class="list-unstyled">
                                {{#each options}}
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{value}}"
                                            id="{{value}}">
                                        <label class="form-check-label" for="{{value}}">
                                            {{value}}
                                        </label>
                                    </div>
                                </li>
                                {{/each}}
                                <hr>
                            </ul>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{> catalogItem}}
            </div>
        </div>


        <div class="card text-bg-success mt-5 mb-5 text-center">
            {{#with service}}
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <p class="card-text">{{description}}</p>
                {{#each buttons}}
                <a class="btn btn-primary mb-1" href="{{link}}" role="button">{{text}}</a> <br>
                {{/each}}
            </div>
            {{/with}}
        </div>
    </main>

    <footer>
        <div class="d-flex justify-content-between">
            {{#each this.footer}}
            <ul class="nav flex-column">
                {{#each this}}
                <li class="nav-item text-nowrap">
                    <a class="nav-link{{#if @first}} active{{/if}}{{#if @last}} disabled{{/if}}" aria-current="page"
                        target="_blank" href="{{link}}">{{text}}</a>
                </li>
                {{/each}}
            </ul>
            {{/each}}
        </div>
    </footer>
</body>