<div class="container">
    {{#with header}}
    <h1 class="display-4">{{name.firstname}} {{name.lastname}}</h1>
    <div class="fs-5">{{position}}</div>
    <div class="text-muted">{{salary}}</div>
    <address class="mt-3">{{address}}</address>
    <hr class="my-4">
    {{/with}}
</div>