<div class="container mt-3">
    <h1>{{header}}</h1>
    {{#if sortBlock.length}}
    <div class="row mt-3">
        {{#each sortBlock}}
        <div class="col-md-4 mb-3">
            <select class="form-select" aria-label="{{this.placeholder}}">
                <option selected>{{this.placeholder}}</option>
                {{#each this.options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>